*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

h1 {
  color: rgb(0, 0, 0);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 3px dotted;
  font-size: 20px;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  margin: 0 auto;
}

.square {
  height: 100px;
  width: 100px;
  color: #fff;
  background-color: #000000;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border: 2px #000 solid;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
